*{
  box-sizing:border-box;
}

html{
  width: 100%;
  font-size:10px;
  background-image: url("../images/bkgrnd.png");
  background-repeat: no-repeat;
  background-size: 100% 200%;
}
.boxes{
  border: 2px solid black;
  height: 300px;
  margin: 3%;
  width: 20%;
  display:block;
  float: left;
}
h1{
  display: block;
  float:left;
  width:100%;
  margin-left: 28%;
  font-family: 'Sigmar One', cursive;
  color:#EABC2D;
  font-size:6rem;
   -webkit-text-stroke: 2px black;
}

#displayMessage{
  display: block;
  float:left;
  width:100%;
  margin-left: 35%;
  font-family: 'Sigmar One', cursive;
  color:#EABC2D;
  font-size:4.5rem;
   -webkit-text-stroke: 2px black;
}

#balance{
  display: block;
  float:left;
  width:100%;
  margin-left: 45%;
  font-family: 'Sigmar One', cursive;
  color:#EABC2D;
  font-size:10rem;
   -webkit-text-stroke: 2px black;
}

label{
  display: block;
  float:left;
  margin-left: 17%;
  font-family: 'Sigmar One', cursive;
  color:#EABC2D;
  font-size:3rem;
   -webkit-text-stroke: 2px black;
   width: 66%;
   margin-right: -1%;
}

#displayBet{
  width: 10%;
  height: 25px;
}
form{
  display:block;
  float: left;
  width: 100%;
}
section>button{
  font-size: 6rem;
    margin-left: 45%;
    background-color: transparent;
    border: 3px solid bisque;
    letter-spacing: 3px;
    font-weight: 900;
    font-family: 'Sigmar One', cursive;
    color:#EABC2D;
    -webkit-text-stroke: 2px black;
}
.allSlots{
  margin-left:10%;
}

section{
  width: 100%;
  float:left;
  display: block;
  /* border: 2px solid black; */
}
